@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

span {
  color: white;
  font-size: 2em;
  margin: 6px;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  background-color: black;
  margin: 0;
}

.input {
  font-family: inherit;
  border: none;
  padding: 16px 20px;
  margin: 0 0 6px;
  border-radius: 2px;
  background-color: #1b1c22;
  color: white;
}

.header {
  margin-bottom: 16px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#itemValue {
  padding-top: 20px;
}
